<h3>Edit Product</h3>
<!-- title: String,
    author: String,
    genre: String,
    isFiction: Boolean,
    numberOfPages: Number -->
<form method="POST" action="/product/edit">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= product.title %>">
    </div>

    <div>
        <label>Roaster</label>
        <input type="text" name="roaster" value="<%= product.roaster %>">
    </div>

    <div>
        <label>Genre</label>
        <input type="text" name="genre" value="<%= book.genre %>">
    </div>

    <div>
        <label>Is Fiction?</label>
        <input type="text" name="isFiction" value="<%= book.isFiction %>">
    </div>

    <div>
        <label>Pages</label>
        <input type="text" name="numberOfPages" value="<%= book.numberOfPages %>">
    </div>
    <input type="hidden" name="id" value="<%=book._id%>">
    <input type="submit">
</form>