<h3>Edit Product</h3>

<form method="POST" action="/product/edit">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= product.title %>">
    </div>

    <div>
        <label>Roaster</label>
        <input type="text" name="roaster" value="<%= product.roaster %>">
    </div>

    <div>
        <label>Bean Type</label>
        <input type="text" name="genre" value="<%= book.genre %>">
    </div>

    <div>
        <label>Organic?</label>
        <input type="text" name="isFiction" value="<%= book.isFiction %>">
    </div>

    <div>
        <label>Weight (in grams)</label>
        <input type="text" name="numberOfPages" value="<%= book.numberOfPages %>">
    </div>
    <input type="hidden" name="id" value="<%=book._id%>">
    <input type="submit">
</form>
